.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-circles-container {
  width: 18rem;
  height: 16rem;
  position: relative;
}

.goal-circle {
  width: 10rem;
  height: 10rem;
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  left: 4.5rem;
}

.action-circle {
  width: 10rem;
  height: 10rem;
  border: 2px solid yellow;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.knowledge-circle {
  width: 10rem;
  height: 10rem;
  border: 2px solid blue;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}