.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    circle {
      stroke: black;
      stroke-width: 3;
      fill: transparent;
      opacity: 0.6;

      &.goals.selected {
        fill: red;
        opacity: 0.6;
      }

      &.actions.selected {
        fill: yellow;
        opacity: 0.6;
      }

      &.knowledge.selected {
        fill: blue;
        opacity: 0.6;
      }

    }
  }
}